*{
  box-sizing: border-box;
}

.navbar-brand{
  padding-left: 10px;
  font-size: 2em;
}

ul{
  background-color: #8D7B68;
}
.nav-item:hover a{
  color: black;
  background-color: white;
}
.nav-item > a{
  color: #F8EDE3;
}

.heading{
  margin: 30px 0;
}

.container{
  background-color: #CBA0AE;
  padding: 15px;
}

.head{
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (max-width: 576px){
  .container{
    margin:20px;
  }
}














/* another code for style.css */



/* .container-fluid{
	margin: 0;
	padding: 0;
} */

.navbar{
	border-radius: 0px;
	background-color: rgba(0,0,0,0.8);
  /* padding: 10px; */
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 20px;
  /* margin: 0;
  padding: 0; */
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}


.heading{
  margin: 15px 0;
  font-size:40px;
  font-weight: bold;
}

li{
	/* box-sizing: border-box; */
	width: 100%;
}

.menu-item{
	/* padding: 0;
	margin: 0; */
	/* width: 100%; */
	background-color: #8D7B68;
	/* border-bottom: 1px solid black; */
	color: black;
	/* display: block; */
}

.menu-item:hover{
	background-color: white;
	color: black;
}

/* .row{
	margin: 20px;
} */

.content-box{
	margin: 20px;
	color: black;
	background-color: #B7C4CF;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 25px;
}

h4{
	font-size: 25px;
	font-weight: bold;
  margin-bottom: 20px;
}
